* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100vh;
  height: 100vh;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-30 {
  gap: 30px;
}

.gap-80 {
  gap: 80px;
}

.pad-b {
  padding-bottom: 80px;
}

/*** Colores ***/

:root {
  --color-primary-dark: #000929;
  --color-primary-main: #7065f0;
  --color-dark-grey: #4a4b4d;
  --color-light-grey: ##6c727f;
  --color-f8f8f8: #f8f8f8;
  --color-icon-grey: ##9EA3AE;
  --color-danger: #d32f2f;
}

/*** Colores Fin ***/