.loginContainer {
  height: 100vh;
}

.logoContainer {
  display: flex;
  position: fixed;
  align-items: center;
  top: 0px;
  left: 0px;
  padding: 1.5rem !important;
  width: 100%;
  height: var(--navbar-height);
  border-bottom: 2px solid #f0effb;
}

.formContainer {
  background-color: transparent;
  min-height: 100vh;
  height: 100vh;
  margin: var(--navbar-height) 0px 0px 0px;
  overflow: auto;
  padding: 0px !important;
}

.imgContainer {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  object-position: 50% 50%;
}

.imgContainer img {
  object-fit: cover;
}

.fColor {
  color: var(--color-primary-dark);
  font-size: 26px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: var(--color-primary-dark);
}

.fColor:hover {
  color: var(--color-0CC5BA);
}

.hamburguerIcon {
  display: none;
}

@media screen and (max-width: 700px) {
  .fColor {
    font-size: 12px;
  }
}

@media screen and (max-width: 992px) {
  .fColor {
    font-size: 12px;
  }
}

@media screen and (max-width: 1700px) {
  .imgContainer img {
    max-width: 950px;
  }
}

@media screen and (max-width: 768px) {
  .hamburguerIcon {
    display: flex;
  }

  .logoContainer {
    justify-content: space-between;
  }
}