.loginContainer {
  height: 100vh;
}

.logoContainer {
  width: 100%;
  height: var(--navbar-height);
  border-bottom: 2px solid #f0effb;
}

.formContainer {
  background-color: transparent;
  min-height: 100vh;
  height: 100vh;
  margin: var(--navbar-height) auto auto auto;
  overflow: auto;
  padding-right: 0px !important;
}

.imgContainer {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.fColor {
  color: var(--color-primary-dark);
  font-size: 26px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: var(--color-primary-dark);
}

.fColor:hover {
  color: var(--color-0CC5BA);
}

@media screen and (max-width: 700px) {
  .fColor {
    font-size: 12px;
  }
}

@media screen and (max-width: 992px) {
  .fColor {
    font-size: 12px;
  }
}
